.MakeupList {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.items h4 {
  text-align: left;
  font-size: 20px;
}

.items p {
  text-align: left;
  font-size: 18px;
}

.items img{
  height: 230px;
  width: 230px;
}

.items {
  width: 510px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items a {
  color: #ff77b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}