.MakeupListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buy {
  color: rgb(146, 255, 146);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddButton {
  font-size: 15px;
  border: 1px rgb(146, 255, 146) solid;
  padding: 5px;
}