.MakeupListItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 1fr;
}

.MakeupListItem img{
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
}