.MakeupListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box;
}

.buy {
  color: var(--money_green);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buy button {
  border: 3px solid var(--money_green);
}
.buy button:hover {
  color: black;
  background-color: var(--money_green);
}

.AddButton {
  font-size: 15px;
  border: 1px var(--money_green) solid;
  padding: 5px;
}

.info {
  text-align: center;
  padding: 0 10px;
  width: 100%; /* Ensure it takes full width */
}
