.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 0;
}

.NavBar .menu-toggle {
  display: none;
}

.NavBar .menu {
  display: flex;
  align-items: center;
}

.NavBar .menu a {
  margin-right: 10px; /* Adjust margin between links as needed */
  color: var(--body_color);
  text-decoration: none;
}

.NavBar .menu a:hover {
  color: var(--active_link_color);
  transition: all 0.3s ease-in-out;
}

.menu img {
  height: 30px;
  display: flex;
  align-items: center;
}

.welcome-name {
  color: var(--active_link_color);
}

.logout {
  text-decoration: underline 1px pink;
}

@media (max-width: 480px) {
  .NavBar {
    font-size: 10px;
    margin: 0;
    padding: 0;
    /* flex-direction: column;
    align-items: flex-start; */
  }

  .NavBar .menu-toggle {
    display: block;
  }

  .NavBar .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1vmin;
    background: var(--body_background);
    position: absolute;
    top: 50px;
    left: 0;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .NavBar .menu.open {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    opacity: 1;
  }
  
  .NavBar button {
    border: none;
  }
}