.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.NavBar span {
  display: flex;
  align-items: flex-start;
}

.DarkMode {
  margin-right: 10px; /* Adjust margin as needed */
}

.NavBar a {
  margin-right: 10px; /* Adjust margin between links as needed */
  color: var(--body_color);
  text-decoration: none;
}

.NavBar a:hover {
  color: var(--active_link_color);
}

.NavBar span span {
  margin-left: 10px; /* Adjust margin between user info and logout as needed */
}

.NavBar a.activeLink {
  color: var(--bright_pink);
  font-weight: bold; /* Optionally, add other styling for active links */
  text-decoration: underline; /* Add underline for active links */
}

.NavBar img {
  height: 30px;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .NavBar {
    font-size: 10px;
  }
}