.PrevOrderGrid {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PrevOrderGrid .OrderList {
  font-size: 50px;
}
