.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
}

.MakeupItemDetailPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MakeupItemDetailPage h1 {
  font-size: 43px;
}

.MakeupItemDetailPage p {
  font-size: 25px;
}

.MakeupItemDetailPage img {
  height: 500px;
  width: 500px;
}

.price {
  color: rgb(146, 255, 146);
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.btn {
  color: rgb(146, 255, 146);
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 30px;
}
