.WelcomePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.WelcomePage img {
  height: 200px;
}

.Category-Box{
  display: grid;
  background-color: lightblue;
  grid-template-columns: repeat(2, 100px);
}

.Box {
  width: auto;
  height: auto; /* Set the height equal to the width for a square */
  background-color: #3498db; 
}
