.WelcomePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.WelcomePage h1{
  margin: 0;
  font-size: 36px;
  padding: 10px 0;
}

.WelcomePage img {
  height: 400px;
}

.Category-Box{
  display: grid;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(200, 225, 233); */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  height: 600px;
  margin: 0 300px;
}

.Box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Set the height equal to the width for a square */
}

.WelcomePage p {
  font-size: 30px;
}

.WelcomePage a {
  color: var(--body_color);
}
