.CategoryList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border: 2px pink solid;
  font-size: 20px;
}

.CategoryList li {
  text-align: center;
  margin-bottom: .5vmin;
}

.CategoryList a {
  text-decoration: none;
  color: var(--body_color); /* Set link color to custom variable */
}

.CategoryList a:hover {
  color: var(--active_link_color);
}

.CategoryList li.active a {
  color: var(--active_link_color);
  font-weight: 900;
}

@media (max-width: 480px) {
  .CategoryList {
    justify-content: space-between;
    font-size: 14px;
    padding: 1px;
  }
}