.CategoryList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border: 2px pink solid;
  font-size: 20px;
}

.CategoryList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
  color: var(--body_color);
  text-decoration: none;
}
    
.CategoryList li:hover:not(.active) {
  cursor: pointer;
  color: var(--body_color);
}

.CategoryList li.active {
  color: var(--bright_pink);
  font-weight: 900;
}
